<nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top header-two-margin-top">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link test-white" (click)="navigateToMovies()">Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link test-white" (click)="navigateToEvents()">Event</a>
    </li>
    <li class="nav-item">
      <a class="nav-link test-white" (click)="navigateToPlays()">Plays</a>
    </li>
    <li class="nav-item">
      <a class="nav-link test-white" (click)="navigateToSports()">Sports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link test-white" (click)="navigateToActivities()">Activities</a>
    </li>
  </ul>
</nav>