<!-- <nav class="navbar navbar-expand-sm bg-info navbar-dark header-fixed-top">
  <a class="navbar-brand">
    <img src="./A5.png" style="width:40px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
</nav> -->

<nav class="navbar navbar-expand-sm bg-info navbar-dark header-fixed-top">
  <!-- Brand -->
  <a class="navbar-brand logo-pad-0 img-magnifier-container" href="#">
    <img class="img-fluid" src="https://picsum.photos/285/200/?image=0&random" class="logo-img" alt="Cinque Terre">
  </a>


  <a class="navbar-brand justify-content-between d-none d-md-flex flex-row pos-logo" href="#">PROJECT 353</a>

  <!-- Links -->
  <ul class="navbar-nav justify-content-between d-none d-md-flex flex-row pos-right">
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item d-none d-md-block">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown d-none d-md-block">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Dropdown link
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
    <li class="nav-item dropdown d-none d-md-block">
      <i class="fas fa-user nav-link" id="dropdownMenuButton" aria-haspopup="true" aria-expanded="false"
        data-toggle="dropdown" style='font-size:20px' aria-hidden="true"></i>
      <div class="dropdown-menu dropdown-menu-left login-dropdown" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="navbar-brand" href="#">Logo</a>
    </li>

  </ul>


</nav>